@import url("https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@700&display=swap");
@import "tailwindcss";

body {
  font-family: "Satoshi", sans-serif;
  background-color: #e6dede;
  background-image: radial-gradient(circle, #c3c1c1 1.5px, transparent 0.5px);
  background-size: 24px 24px;
}
